
<% content_for :above_container do %>
  <%= render 'components/banner' %>
<% end %>

<h3 class="text-center">| Make your own cocktail</h3>

<div class="row">
  <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-md-3">
    <%= link_to cocktail_path(cocktail), class: 'text-deco-none' do %>
          <div class="cocktail-item", style="background-color: <%= %w(#4B4453 #4E8397 #368EAA #FF9671 #C34A36 #00C2A8).sample %>">
            <div class="cocktail-name">
              <p><%= cocktail.name.capitalize %></p>
            </div>
          </div>
          <% end %>
        </div>

  <% end %>
</div>

<div class="cta-add">
  <%= link_to "add a cocktail", new_cocktail_path(@cocktail), class: 'btn-add-cocktail' %>
</div>



